<div class="page-header">
  <h1>Blog</h1>
</div>



<ul class="media-list">
  <% @posts.each do |post| %>
    <li class="media">
      <a class="pull-left" href="#">
      </a>
      <div class="media-body">
        <h3 class="media-heading">
          <%#= link_to post.title, post_path(post) %>
          <%= post.title %>
          <small><%= post.created_at.strftime("%Y-%m-%d") %></small>
        </h3>
        <p><%= truncate(strip_tags(post.body), length: 140) %></p>
        <p>
          <% post.tag_list.each do |tag| %>
            <span class="label label-default"><%= tag %></span>
          <% end %>
        </p>
        <p>
          <%= link_to 'Edit', edit_post_path(post) %> <small>|</small>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @posts %>


<% content_for "sidebar" do %>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
<% end %>
