<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Client</th>
      <th>State</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Shopping cart</th>
      <th>Ip address</th>
      <th>Card expires on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.account_id %></td>
        <td><%= order.client_id %></td>
        <td><%= order.state %></td>
        <td><%= order.amount %></td>
        <td><%= order.address_id %></td>
        <td><%= order.shopping_cart_id %></td>
        <td><%= order.ip_address %></td>
        <td><%= order.card_expires_on %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
