<%= simple_form_for(@gallery) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :account_id, value: @current_account.id %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :client, collection: @current_account.clients %>
    <%= f.label :portfolio %>
    <div class="checkbox">
      <label>
        <%= f.input :portfolio, :as => :boolean, label: false %> Show
      </label>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
    <%= link_to 'Cancel', galleries_path, class: "btn btn-danger btn-link" %>
  </div>
<% end %>
