<div class="page-header">
  <h1><%= @gallery.title %></h1>
</div>


<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-xs-6 col-md-3">
      <a href="<%= photo.image %>" class="thumbnail" data-gallery title="<%= photo.fullname %> #<%= photo.id %>">
        <img src="<%= photo.image(:medium_s) %>">
      </a>
    </div>
  <% end %>
</div>




<%#= link_to 'New Photo', new_photo_path %>
