<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Account:</strong>
  <%= @post.account_id %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @post.permalink %>
</p>


<% @post.gallery.photos.limit(5).each do |photo| %>
  <img src="<%= photo.image %>" width="200">
<% end %>
<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
