<%= simple_form_for(@photo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= render "backend/form_image", f: f, input: :image, image: @photo.image(:medium_s) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
    <%= link_to 'Cancel', gallery_photo_path(@photo.gallery, @photo), class: "btn btn-danger btn-link" %>
  </div>
<% end %>
