<%= render "backend/galleries/header", gallery: @gallery %>

<% unless @photos.empty? %>
  <div id="photo-row" class="photo-row row">
    <% @photos.each do |photo| %>
      <%= render photo, photo: photo %>
    <% end %>
  </div>

  <%#= paginate @photos %>
<% else %>
  <div id="photo-row" class="photo-row row"></div>
  <p id="no-photos-placeholder" class="lead">There are currently no Photos. Go ahead and add some!</p>
<% end %>



<div class="jumbotron text-center hidden">
  Drag images into the window to upload them

  <%= simple_form_for(@photo, url: backend_gallery_photos_path(@gallery) ,html: { remote: true, multipart: true}) do |f|  %>
    <%= f.hidden_field :gallery_id, value: @gallery.id %>

    <div class="fallback">
      <%= f.file_field :image, multiple: true, name: "photo[image]" %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
</div>


<% content_for "sidebar" do %>
  <%= link_to 'Edit Gallery', edit_backend_gallery_path(@gallery), class: "btn btn-primary" %>
  <hr>
  <div class="sidebar-note">
    <b id="photo-counter"><%= pluralize(@gallery.photos.count, "Photo")%></b>
  </div>
  <hr>
  <%= link_to 'Delete Gallery', backend_gallery_path(@gallery), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link-danger" %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
  <div class="upload" data-timestamp="{%=timestamp%}">
    {%=o.name%}
    <div class="progress"><div class="progress-bar progress-bar-striped active" style="width: 0%"></div></div>
  </div>
</script>
