<%= render "backend/galleries/header", gallery: @gallery %>

<h3><%= @photo.fullname %></h3>

<img src="<%= @photo.image %>" class="img-responsive">



<% content_for "sidebar" do %>
  <%= link_to 'Edit Photo', edit_gallery_photo_path(@gallery, @photo), class: "btn btn-primary" %>
  <hr>
  <div class="sidebar-note">
    <b>File Size</b><br>
    <%= number_to_human_size(@photo.image_file_size) %>
  </div>
  <div class="sidebar-note">
    <b>Image Type</b><br>
    <%= @photo.image_content_type %>
  </div>
  <hr>
  <%= link_to 'Delete Photo', gallery_photo_path(@gallery, @photo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link-danger" %>
<% end %>
