<%= simple_form_for(@photo_size) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :account_id, value: @current_account.id %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :price, input_html: { value: @photo_size.price } %>
    <span class="help-block">
      You need to enter a dot seperated value like 5.99 for 5,99€.
    </span>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
    <%= link_to 'Cancel', photo_sizes_path, class: "btn btn-danger btn-link" %>
  </div>
<% end %>



<% content_for "sidebar" do %>
  <%= render "backend/accounts/sidebar_nav" %>
<% end %>
